.filters__body {
  padding: .5rem 1rem;
}

.filters__title {
  display: block;
  padding-block: .5rem;
}

.filters__label {
  display: block;
  padding: .5rem 1rem;
  border-radius: 0.25rem;

  transition: background-color 300ms ease;

  &:has(input:focus-visible) {
    outline: 2px solid black;
    outline-offset: -2px; 
  }

  &:has(:checked) {
    background-color: var(--col-mint);
  }
}

.filters__checkbox {
  /* opacity: 0; */
  width: 0;
  height: 0;
  opacity: 0;
}

.filters__footer-btn {
  flex-grow: 1;
}

.filters__footer {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: .5rem 1rem;

  border-top: 1px solid rgba(0 0 0 / .2);
}

.filters__body ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (width < 768px) {
  .filters__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;

    display: none;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    min-height: 100dvh;

    background-color: rgba(0 0 0 / .6);
  }

  #btnFiltersClose {
    color: white;
    align-self: end;
    padding: .5rem;
    margin: .5rem;
  }

  .filters {
    background-color: whitesmoke;
    border-radius: 1rem 1rem 0 0;

    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%;
    height: max(65dvh, 300px);
    margin-inline: auto;
  }

  .filters__body {
    overflow-y: auto;
  }

  .filters__container.active {
    display: flex;
  }




  /*** ANIMATIONS / TRANSITIONS |> START ***/
  body:not(.animations-none) {
    .filters__container {
      transition: all 400ms ease allow-discrete;
      background-color: rgba(0 0 0 / 0);
    }

    .filters {
      animation: filters-slide-out .5s ease both;
    }


    #btnFiltersClose {
      animation: btn-close-slide-out .5s ease both;
    }
    
    .filters__container.active {
      background-color: rgba(0 0 0 / .6);
      .filters {
        animation: filters-slide-in .5s ease both;
      }
      
      #btnFiltersClose {
        animation: btn-close-slide-in .5s ease both;
      }

      @starting-style {
        background-color: rgba(0 0 0 / 0);
      }
    }
  }
  /*** ANIMATIONS / TRANSITIONS |> END ***/





  /*** KEYFRAMES |> START ***/
  @keyframes filters-slide-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes filters-slide-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }

  @keyframes btn-close-slide-in {
    from {
      transform: translateX(100%) rotateZ(90deg);
    }
    to {
      transform: translateX(0) rotateZ(-90deg);
    }
  }

  @keyframes btn-close-slide-out {
    from {
      transform: translateX(0) rotateZ(-90deg);
    }
    to {
      transform: translateX(100%) rotateZ(90deg);
    }
  }
  /*** KEYFRAMES |> END ***/
}

@media (width >= 768px) {
  #btnFilters, #btnFiltersClose {
    display: none;
  }

  .filters {
    border-radius: 0.25rem;
    background-color: var(--bg-lighter);
  }
}