.filters__body {
  padding: .5rem 1rem;
}

.filters__title {
  display: block;
  padding-block: .5rem;
}

.filters__footer-btn {
  padding: .5rem 1rem;
  flex-grow: 1;
}

.filters__footer {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: .5rem 1rem;

  border-top: 1px solid rgba(0 0 0 / .2);
}

@media (width < 600px) {
  .filters__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;

    display: none;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    min-height: 100dvh;

    background-color: rgba(0 0 0 / .6);
  }

  #btnFiltersClose {
    color: white;
    align-self: end;
    padding: .5rem;
    margin: .5rem;
  }

  .filters {
    background-color: whitesmoke;
    border-radius: 1rem 1rem 0 0;

    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%;
    height: max(65dvh, 300px);
    margin-inline: auto;
  }

  .filters__container.active {
    display: flex;
  }




  /*** ANIMATIONS / TRANSITIONS |> START ***/
  body:not(.animations-none) {
    .filters__container {
      transition: all 400ms ease allow-discrete;
      background-color: rgba(0 0 0 / 0);
    }

    .filters {
      animation: filters-slide-out 300ms ease both;
    }


    #btnFiltersClose {
      transition: transform 300ms ease;
      transform: translateX(100%) rotateZ(90deg);
    }

    .filters__container.active {
      background-color: rgba(0 0 0 / .6);
      .filters {
        animation: filters-slide-in 300ms ease both;
      }

      #btnFiltersClose {
        transform: translateX(0) rotateZ(-90deg);
      }
    }
  }
  /*** ANIMATIONS / TRANSITIONS |> END ***/





  /*** KEYFRAMES |> START ***/
  @keyframes filters-slide-in {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes filters-slide-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }
  /*** KEYFRAMES |> END ***/
}

@media (width >= 600px) {
  #btnFilters, #btnFiltersClose {
    display: none;
  }
}