.nav__item {
  display: flex;
  gap: .25rem;
  padding: .5rem .75rem;

  transition: background-color 300ms ease;
}

.nav__item:not(.no-hover):hover,
.nav__item.active {
  background-color: #3f444b;
  color: white;
}

/* lg: (64rem || 1024px) */
@media (width <= 1024px) {
  .menu__hide-on-phone {
    display: none;
  }

  /*** OPEN / CLOSE BUTTON |> START ***/
  #btnMenu {
    position: sticky;
    z-index: 10; 

    color: white;
  }

  .icon-menu__path {
    transform-origin: center;
    transform-box: stroke-box;
  }
  /*** OPEN / CLOSE BUTTON |> END ***/





  /*** MENU STYLES |> START ***/
  .menu__container {
    display: grid;
    grid-template-columns: minmax(auto, 400px);
    justify-content: end;

    width: 100dvw;
    height: 100dvh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0 0 0 / .0);

    pointer-events: none;
  }

  .menu {
    display: none;
    grid-template-rows: auto 1fr;
    
    padding-left: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .menu__header {
    display: flex;
    justify-content: center;

    padding: .5rem 1rem;

    background-color: var(--col-marron);

    animation: slide-out .5s ease both;
  }

  .menu__title {
    display: block;
    margin: .5rem 1rem;
  }

  .menu__body {
    padding-block: 2rem;

    color: var(--col-oscuro);
    background-color: var(--bg-main);

    animation: slide-out .5s 50ms ease both;
  }

  .nav__item {
    padding-inline: 2rem;
    width: 100%;
  }

  .nav__sublist-child .nav__item {
    padding-left: 4rem;
  }
  /*** MENU STYLES |> END ***/





  /*** ANIMATIONS / TRANSITIONS |> START ***/
  body:not(.animations-none) {
    #btnMenu {
      transition: color 300ms .2s ease, transform .5s ease;
    }

    .icon-menu__path {
      transition: transform .4s ease, opacity .4s ease;
    }

    .menu__container {
      transition: background-color 300ms ease;
    }

    .menu {
      transition: display .5s allow-discrete;
    }
  }

  body.animations-none {
    :is(.menu__header, .menu__body) {
      animation-name: none !important;
    }
  }
  /*** ANIMATIONS / TRANSITIONS |> END ***/





  /*** ACTIVES |> START ***/
  #btnMenu.active {
    color: var(--col-oscuro);

    transform: rotateZ(calc(1turn + 45deg));

    .icon-menu__path--top {
      transform: translateY(calc(2px * 3)) rotateZ(90deg);
      /* outline: 1px solid lime; */
    }

    .icon-menu__path--mid {
      transform: rotateZ(1turn);
      opacity: 0;
    }

    .icon-menu__path--bot {
      transform: translateY(calc((2px * 3) * -1));
    }
  }

  .menu__container.active {
    background-color: rgba(0 0 0 / .6);
    pointer-events: all;

    .menu {
      display: grid;
    }

    .menu__header {
      /* transform: translateX(0); */
      animation: slide-in .5s ease both;
    }

    .menu__body {
      /* transform: translateX(0); */
      animation: slide-in .5s 50ms ease both;
    }
  }
  /*** ACTIVES |> END ***/





  /*** KEYFRAMES |> START ***/
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0)
    }
  }

  @keyframes slide-out {
    from {
      transform: translateX(0)
    }
    to {
      transform: translateX(100%);
    }
  }
  /*** ACTIVES |> END ***/
}

@media (width > 1024px) {
  #btnMenu,
  .menu__header,
  .menu__title,
  .menu__hide-on-desktop {
    display: none;
  }

  nav > ul {
    display: flex;
  }

  /* hidden absolute top-[100%] left-0 w-full bg-(--col-marron) */
  .nav__sublist-child {
    display: none;
    min-width: max-content;

    position: absolute;
    top: 100%;
    right: 0;

    background-color: var(--col-marron);
  }

  .nav__sublist-parent {
    position: relative;
  }

  nav > ul > li:has(ul):hover ul {
    display: block;
  }
}